# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/

# Debug
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.tsbuildinfo
dev.log
